
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Footer{ 
    <script src="~/js/Admin/NewFolder/Banners.js"></script>
}

<h2 class="h4">Quản lý Banner</h2>
<div id="banners-list" class="card card-body bg-white border-light shadow-sm mb-4 row">
    <div class="d-xl-flex align-items-center col-12 banner-item">
        <div>
            <!-- Avatar -->
            <div class="user-avatar xl-avatar mb-3">
                <img class="rounded" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png" alt="change avatar">
            </div>
        </div>
        <div class="file-field">
            <div class="d-flex justify-content-xl-center ml-xl-3">
                <div class="d-flex">
                    <span class="icon icon-md"><span class="fas fa-paperclip mr-3"></span></span>
                    <input class="banner-input" type="file">
                    <div class="d-md-block text-left">
                        <div class="font-weight-normal text-dark mb-1">Chọn Banner số 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-xl-flex align-items-center col-12 banner-item">
        <div>
            <!-- Avatar -->
            <div class="user-avatar xl-avatar mb-3">
                <img class="rounded" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png" alt="change avatar">
            </div>
        </div>
        <div class="file-field">
            <div class="d-flex justify-content-xl-center ml-xl-3">
                <div class="d-flex">
                    <span class="icon icon-md"><span class="fas fa-paperclip mr-3"></span></span>
                    <input class="banner-input" type="file">
                    <div class="d-md-block text-left">
                        <div class="font-weight-normal text-dark mb-1">Chọn Banner số 2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-xl-flex align-items-center col-12 banner-item">
        <div>
            <!-- Avatar -->
            <div class="user-avatar xl-avatar mb-3">
                <img class="rounded" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png" alt="change avatar">
            </div>
        </div>
        <div class="file-field">
            <div class="d-flex justify-content-xl-center ml-xl-3">
                <div class="d-flex">
                    <span class="icon icon-md"><span class="fas fa-paperclip mr-3"></span></span>
                    <input class="banner-input" type="file">
                    <div class="d-md-block text-left">
                        <div class="font-weight-normal text-dark mb-1">Chọn Banner số 3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>