@{
    ViewData["Title"] = "Products Management";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="h4">Quản lý sản phẩm</h2>
<div id="products">
    <div class="btn-toolbar dropdown">
        <a class="btn btn-primary btn-sm mr-2 dropdown-toggle" href="/Admin/Products/Create">
            <span class="fas fa-plus mr-2"></span>Thêm sản phẩm
        </a>        
    </div>
</div>